body{
  font-family: 'Fira Sans Extra Condensed', sans-serif; 
  /* font-family: 'Courier New', Courier, monospace; */
}
.page-body{
  display: flex;
  flex-direction: column;
}
.car-listings{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-header{
  display: flex;
  flex-direction: column;
}