.listing{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 280px;
    margin: 3vw;
    padding: 30px; 
    background-color:#333333;
    color: white;
    /* border: 5px black; */
}
.listing-image{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.listing-image img{
    width: 100%;
}
/* @media only screen and (max-width: 786px) {
    .listing{
        margin-top: 50px;
    }
} */
