.navbar-menu{
    display: flex;
    justify-content: space-between;
}
.name-menu-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.name-logo{
    display: flex;
    margin-left: 4vw;
    align-items: center;
}
.name-logo img{
    width: 80px;
    height:80px;
    border-radius: 50px;
    margin: 20px;
}
.menu-mobile-button{
    display: none;
}
.menu-buttons{
    margin: auto;
    width: 15vw;
    text-align: center;
    font-weight: bold;
}
.menu-collapsed{
    display: none;
}
.menu-expand{
    display: none;
}
.menu-items{
    display: flex;
    margin-right: 50px;
    cursor: pointer;
}
.menu-items p{
    font-size: 20px;
}
.menu-items button{
    width: 120px;
    height: 50px;
    margin: auto;
    font-size: 20px;
    background-color: #E42024;
    color: white;
    border: none;
}
.menu-items button:hover{
    background-color: #ff7073;
}
.menu-items :hover{
    transition: 0.4s ease;
    background-color: darkgray;
}

@media only screen and (max-width: 786px) {
    .navbar-menu{
        display: flex;
        flex-direction: column;
    }
    .name-menu-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-items{
        display: none;
    }
    .menu-mobile-button{
        display: flex;
        flex-direction: column;
        font-size: 40px;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 20px;
        margin-top: 1vh; 
    }
    .menu-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }
    .menu-expand{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 10px;
        width: 40vw;
        background-color: black;
        color: white;
        font-size: 6vw;
    }
    .menu-expand .menu-buttons{
        width: auto;
        height: 5vh;
        font-size: 15px;
        font-weight: normal;
    }
    .menu-expand button{
        width: 100%;
        height: 40px;
        font-size: 18px;
        margin: 0px;
        background-color: #E42024;
        color: white;
    }
    .menu-expand button:hover{
        background-color: #ff7073;
    }
    .menu-buttons:hover{
        color: gray;
    }
}